@media (max-width: 1160px) {
    .slick-next {
        right: calc(50% - 217px);
        bottom: -453px;
    }

    .slick-prev {
        right: calc(50% + 48px);
        bottom: -206px;
    }

    .slider__inner {
        max-width: 100%;
    }

    .about__content-left {
        max-width: 400px;
    }

    .about__content-right {
        grid-template-columns: repeat(2, 1fr);
    }

    .about__content {
        justify-content: space-around;
    }
}


@media (max-width: 885px) {
    .header__logo {
        display: none;
    }

    .header__map {
        margin-left: 20px;
    }

    .slider__title {
        font-size: 30px;
    }

    .slider__text {
        font-size: 16px;
    }

    .slider__item-block {
        max-width: 100%;
        text-align: center;
    }

    .slider__item-flex {
        justify-content: center;
    }

    .slider__item-flex img {
        display: none;
    }

    .slick-next {
        right: calc(50% - 217px);
        bottom: -353px;
    }

    .slick-prev {
        right: calc(50% + 48px);
        bottom: -106px;
    }

    .services__grid-items {
        grid-template-columns: repeat(2, 1fr);
    }

    .services__item {
        max-width: 100%;
    }

    .about__content-left {
        max-width: 290px;
    }
}


@media (max-width: 780px) {
    .about__content-right {
        display: none;
    }

    .about__content-left {
        max-width: 100%;
        text-align: center;
    }

    .map {
        height: 350px;
    }
}


@media (min-width: 666px) {
    .header__menu ul {
        display: flex !important;
    }
}


@media (max-width: 665px) {
    .header__btn-menu {
        display: block;
    }

    .header__menu ul {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        margin-top: 20px;
        width: auto;
        z-index: 50;
    }

    .header__menu li {
        display: block;
        text-align: center;
    }

    .header__bottom a:hover {
        color: #2F343A;
    }

    .header__menu a {
        display: block;
        background-color: #C8A35F;
        border: 1px solid white;
        height: 30px;
        padding-top: 8px;
    }

    .title__content .title__header {
        font-size: 50px;
    }

    .title__content .title__text {
        font-size: 16px;
    }

    .title__content {
        padding-inline: 15px;
    }

    .slick-btn {
        background: none;
        width: 0;
    }

    .slick-next {
        right: calc(50% - 53px);
    }

    .footer__content > a {
        display: none;
    }

    .footer__content {
        justify-content: space-around;
    }
}


@media (max-width: 400px) {
    .title__content .title__header {
        font-size: 40px;
    }

    .title__content .title__text {
        font-size: 14px;
    }

    .slider__item-block {
        max-width: 310px;
    }

    .services__text {
        font-weight: 500;
        font-size: 15px;
    }

    .about__title {
        font-size: 30px;
        font-weight: 600;
    }

    .about__text {
        font-size: 15px;
    }

    .footer__text {
        text-align: center;
    }

    .footer__content {
        flex-direction: column;
    }
}
